@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background-color: hsl(219, 30%, 18%);
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    height: 20vh;
}

/* navbar css */
nav{
    width: 85%;
    height: 15vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: hsl(219, 30%, 18%); */
}
.logo{
    width: 130px;
    height: auto;
    cursor: pointer;
}
ul.navbar{
    list-style: none;
    display: flex;
}
ul.navbar li{
    width: 100px;
}
ul.navbar li a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
ul.navbar li a:hover{
    text-decoration: underline;
}

/* 1st section css */
.section-1{
    /* z-index: -1; */
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* background-color: hsl(219, 30%, 18%); */
}
.intro-desc{
    width: 470px; /* 600px */
    margin: auto;
    margin-bottom: 30px;
}
.illustration{
    width: 470px;
    margin-bottom: 30px;
}
.intro-desc h1{
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 25px;
    font-family: 'Raleway',sans-serif;
}.intro-desc p{
    width: 500px;
    line-height: 1.6rem;
    font-weight: 700px;
    margin: 0 auto 30px;
    /* position: relative;
    z-index: 3; */
}
#btn{
    /* position: relative;
    z-index: 2; */
    width: 250px;
    padding: 14px;
    outline: none;
    border: none;
    border-radius: 25px;
    background-color: hsl(176, 68%, 64%);
    color: hsl(0, 0%, 100%);
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
}
#btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
#btn a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
.curvy-bg{
    width: 100%;
    height: 40vh;
    position: relative;
    /* position: absolute; */
    top: -210px;
    z-index: -1;
}
.curvy-bg-1{
    display: none;
}

/* 2nd section css */
.section-2{
    width: 100%;
    height: auto;
    background-color: hsl(218, 28%, 13%);
    position: relative;
    top: -210px;
    z-index: -1;
}
.services{
    width: 70%;
    min-height: 50vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.services-wrapper{
    margin: 30px 0;
}
.services-wrapper img{
    margin: 70px;
    height: auto;
    margin-bottom: 25px;
}
.service-desc{
    width: 400px;
    line-height: 1.5rem;
    margin-bottom: 50px;
}
.service-desc h2{
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
}

/* Section 3 starts here */
.section-3 img{
    width: 550px;
    height: auto;
}
.section-3{
    width: 100%;
    /* margin: 30px auto 0; */
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:  hsl(218, 28%, 13%);
    position: relative;
    top: -240px;
}
.section-3-desc{
    width: 550px;
}
.section-3-desc h1{
    font-size: 2rem;
    width: 300px;
    margin-bottom: 15px;
    font-family: 'Raleway',sans-serif;
}
.section-3-desc p{
    margin-bottom: 30px;
}
.section-3-desc a{
    color: hsl(176, 68%, 64%);
    margin-right: 7px;
}

/* Testimonial section starts here */
.testimonial-section{
    width: 100%;
    min-height: 50vh;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    background-color:  hsl(218, 28%, 13%);
    position: relative;
    top: -240px;
}
.testimonial-section::after{
    content: url(/images/bg-quotes.png);
    position: absolute;
    top: 105px;
    left: 130px;
}
.testimonial-card{
    width: 370px;
    height: 210px;
    background-color: hsl(219, 30%, 18%);
    border-radius: 5px;
    padding: 25px 15px;
    margin: 0 0 0 45px;
    box-shadow: 5px 5px 3px hsl(217, 27%, 20%);
    z-index: 1;
}
.testimonial-desc{
    width: 330px;
    font-size: 14px;
    line-height: 1.5rem;
}
.profile-wrapper{
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.profile{
    width: 50px;
    height: 50px;
    background: url(/images/profile-1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.profile-desc span{
    font-size: 14px;
    color: hsl(0, 0%, 100%);
}
.profile-2{
    background: url(/images/profile-2.jpg);
    background-size: cover;
    background-position: center;
}
.profile-3{
    background: url(/images/profile-3.jpg);
    background-size: cover;
    background-position: center;
}

/* section 5 sign up */
.background-sign-up{
   background-color: hsl(218, 28%, 13%);
   position: relative;
   top: -240px;
}
.sign-up-section{
    width: 60%;
    height: 30vh;
    margin: auto;
    background-color: hsl(219, 30%, 18%);
    border-radius: 5px;
    display: flex;
    text-align: center;
    padding: 20px;
    z-index: 1;
    position: relative;
    box-shadow: 3px 3px 4px hsl(0, 0%, 0%);
}
.sign-up-desc h1{
    margin-bottom: 40px;
}
form{
    margin-top: 60px;
}
input[type="email"]{
    width: 500px;
    padding: 14px 20px;
    outline: none;
    border: none;
    border-radius: 25px;
    background: hsl(0, 0%, 100%);
    margin-right: 25px;
}
input[type="submit"]{
    width: 200px;
    padding: 14px 20px;
    outline: none;
    border: none;
    border-radius: 25px;
    color: hsl(0, 0%, 100%);
    background: hsl(176, 68%, 64%);
}
footer{
    width: 100%;
    height: 60vh;
    background:hsl(216, 53%, 9%);
    display: flex;
    flex-direction: column;
    position: relative;
    top: -270px;
}
.footer-logo{
    width: 150px;
    position: relative;
    top: 200px;
    left: 150px;
}
.footer-body{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.location{
    width: 350px;
    display: flex;
}
li{
    list-style: none;
    line-height: 2rem;
}
li a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
.icon-1{
    margin-right: 15px;
}
.icon-2{
    margin-right: 10px;
    padding: 5px;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}
a .icon-2{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
.icon-2:hover{
    color:hsl(176, 68%, 64%)
}
.social-links{
    padding-top: 100px;
}
/* .footer-bottom{
    width: 100%;
    height: 10vh;
    background: hsl(219, 30%, 18%);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
} */


/* media query for small devices */
@media screen and (max-width: 375px){
    nav{
        width:90%;
    }
    .logo{
        width: 70px;
        height: auto;
    }
    ul.navbar li{
        width: 70px;
        margin-right: 5px;
    }
    ul.navbar li:nth-child(2) {
        width: 50px;
    }
    ul.navbar li:nth-child(3) {
        width: 50px;
    }

    /* media query of section 1 */
    .section-1{
        width: 300px;
        margin: auto;
    }
    .illustration{
        width: 350px;
        padding-left: 30px;
    }
    .intro-desc{
        width: 300px;
        margin: auto;
    }
    .intro-desc h1{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .intro-desc p{
        width: 318px;
        line-height: 1.5rem;
    }
    #btn{
        width: 200px;
        margin-left: 20px;
    }
    .curvy-bg{
        display: none;
    }
    /* .curvy-bg-1{ */
        /* width: 130%; */
        /* height: 40vh; */
        /* display: flex;
        position: relative; */
        /* position: absolute; */
        /* top: -370px;
        z-index: -1;  */
    /* } */

     /* Media query section 2 start here  */
     .section-2{
        width: 400px;
     }
     .services{
        width: 75%;
        margin: 250px auto 0 ;
    }
    .service-desc{
        width: 300px;
        margin: auto;
    }
    .service-desc h2{
        margin-bottom: 10px;
        font-size: 1.2rem;
    }
    .service-desc p{
        font-size: 14px;
        width: 300px;
        margin: auto;
    }

    /* section 3 media query starts here */
    .section-3{
        width: 400px;
        margin-top: 0;
    }
    .section-3 img{
        width: 300px;
        height: auto;
        position: relative;
        right: 60px;
    }
    .section-3-desc h1{ 
        font-size: 1rem;
        margin: 15px 0;
        position: relative;
        right: 60px;
    }
    .section-3-desc p{
        margin-bottom: 30px;
        font-size: 14px;
        position: relative;
        right: 60px;
    }
    .section-3-desc a{
        margin-bottom: 30px;
        font-size: 14px;
        position: relative;
        right: 60px;
    }

    /*  Media query for  testimonial section */
    .testimonial-section{
        width: 400px;
        min-height: 100vh;
        /* margin: 100px auto 0; */
    }
    .testimonial-section::after{
        top: 20px;
        left: 10px;
    }
    .testimonial-card{
        position: relative;
        right: 40px;
        width: 330px;
        height: 210px;
    }
    .testimonial-desc{
        width: 310px;
    }

    /* Media query for sign up section*/
    .background-sign-up{
        width: 400px;
     }
    .sign-up-section{
        width: 90%;
        height: 40vh;
        margin: auto;
        position: relative;
        top: 50px;
    }
    .sign-up-desc{
        width: 300px;
    }
    .sign-up-desc h1{
        margin-bottom: 15px;
        font-size: 1.2rem;
    }
    input[type="email"]{
        width: 300px;
        margin-left: 10px;
        margin-bottom: 15px;
    }
    input[type="submit"]{
        width: 300px;
        margin-left: 10px;
        margin-bottom: 15px;
    }

    /* media query for footer section */

    footer{
        width: 400px;
        height: 80vh;
    }
    .footer-logo{
       top: 100px;
       left: 30px;
    }
    .footer{
        width: 120px;
        top: 80px;
        left: 30px;
    }
    .footer-body{
        width: 85%;
        flex-direction: column;
    }
    .footer-body p{
        font-size: 14px;
        margin-bottom: 35px;
        line-height: 1.2rem;
    }
    .about-us{
        /* width: 35px;
        margin: 15px auto 0; */
        margin: 30px 0;
    }
    .location{
        width: 300px;
    }
}